@model AllProductsQueryModel

@{
    ViewBag.Title = "Favorite Stores";
    ViewData["stringValue"] = "Favorite";
}

<h2 class="text-center mt-5">@ViewBag.Title</h2>
<hr />

<partial name="_ProductPaginationPartial" model="@Model" />


<div class="row">
    @foreach (var product in Model.Products)
    {
        <partial name="_ProductPartial" model="@product" />
    }
</div>

