@model AllProductsQueryModel

@{
    ViewBag.Title = "Favorite Products";
}

<h2 class="text-center mt-5">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var product in Model.Products)
    {
        <partial name="_ProductPartial" model="@product" />
    }
</div>

