@model AddRoleViewModel
@using static DressUp.Common.GeneralApplicationConstants

@{
	ViewData["Title"] = "Add Roles";
}
<div class="container">
	<div class="row">
		<h2 class="text-center">Add Role</h2>
		<div class="col-md-12">
			<form asp-controller="Role" asp-action="AddDeleteRole" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="RoleName" class="control-label">Role Name</label>
					<input asp-for="RoleName" class="form-control" />
					<span asp-validation-for="RoleName" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-success mt-2">
					Add Role
				</button>
			</form>
		</div>

		<div class="col-md-12 mt-3">
			<hr />
			<h2>Existings roles</h2>
			<div>
				<ul>
					@foreach (RoleViewModel role in Model.Roles)
					{
						<li class="list-group-item">
							<input disabled="disabled" class="btn-group text-center" value="@role.RoleName" />
							@* First Admin and Moderator Role can not be deleted *@
							@if (role.RoleName != AdminRoleName && role.RoleName != ModeratorRoleName)
							{
								<a class="btn btn-danger btn-sm" asp-action="DeleteRole" asp-route-roleId="@role.Id" asp-route-roleName="@role.RoleName"
								   onclick="return confirm('Are you sure you want to delete role: @role.RoleName')">Delete</a>
							}
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
