@model AddOrRemoveUserToRoleViewModel

<h2 class="text-center">Remove role from user</h2>
<form method="post">
    <div class="form-group mt-2">
        <label asp-for="UserEmail" class="control-label">User e-mail</label>
        <input asp-for="UserEmail" class="form-control" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="RoleName" class="control-label">User role</label>
        <select asp-for="RoleName" class="form-control" asp-items="@(new SelectList(Model.Roles, "RoleName", "RoleName"))">
            <option value="">Choose role</option>
        </select>
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Remove from Role</button>
</form>
