html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*.hide-on-hover:hover{
    display: none;
}

.hover-img-position{
    position: relative;
    top: 0;
    left: 0;
    display: none;
}*/